.team{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.team h2{
    color: green;
    font-size: 35px;
    font-family: "Edu NSW ACT Foundation";
    font-weight: bold;
    margin-top: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
  
}

.team p{
  color: #5d5c5c;
    font-size: 18px;
    margin: 20px;
    line-height: 30px;
  
}
.top{
    display: flex;
}

.team .box{
    width:31.5%;
    margin: 10px;
    padding: 2rem;
    background-color: #dbd9d9;
    border-radius: 8px;
    border: 1px solid rgb(62, 128, 131/10%);
    transition: 0.5s;
}

.team .box:hover{
    box-shadow: 0 0 20px 0 rgb(112, 121, 138/ 20%);
    cursor: pointer;
}

.btn3{
    background-color: rgb(58, 137, 58);
    color: #fff;
    border: 1px solid rgb(58, 137, 58);
    border-radius: 5px;
    margin-right: 5px;
    width: 110px;
    height: 40px;
}

.box .button{
    display: flex;
    justify-content: space-between;
}

.team .details{
    text-align: center;
    margin-top: 30px;
}

.team .img{
    width: 90px;
    height: 90px;
    margin: auto;
    position: relative;
}

.team img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.team .img i{
    color: rgb(82, 82, 228);
    font-size: 17px;
    position: absolute;
    top: 35px;
    right: -10px;
}

.team .img::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 110px;
    height: 110px;
    border: 5px solid #edf0f5;
    border-radius: 50%;
}

.team label{
    display: inline-block;
    margin-top: 20px;
}

.team i{
    margin-right: 5px;
    color: gray;
}

.team ul{
    display: inline-block;
    margin-top: 10px;
    align-items: center;
}
.team ul li{
    width: 40px;
    height: 40px;
    align-items: center;
    display: inline-block;
    background-color: #f4f5f7;
    line-height: 40px;
    border-radius: 50%;
    margin: 5px;
}

.team .button{
    margin-top: 20px;
}

.team .button i{
    color: white;
    font-size: 20px;
}

@media screen and (max-width:768px) {
   
.top{
    display: block;
}
.team .box{
    display: block;
    width: 100%;
}
}