.explore{
    margin-top: 40px;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.explore h2{
    color: green;
    font-size: 35px;
    font-family: "Edu NSW ACT Foundation";
    font-weight: bold;
    margin-top: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.explore p{
    color: #5d5c5c;
    font-size: 16px;
    margin: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.explore .box{
    
    width: 100%;
   
    text-align: center;
    position: relative;
}

.explore .box img{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.explore .overlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
     display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 340px;
    max-height: 70%;
    box-sizing: border-box;
    padding: 20px;
    background: rgba(72, 80, 92, 0.3);
    color: #fff;
    z-index: 2;
    overflow: hidden;
    border-radius: 7px;
}



.explore h4{
    font-size: 18px;
    font-weight: 500;
}

.explore label{
    color: #fff;
    margin-right: 20px;
    opacity: 0.8;
    font-size: 14px;
}

